{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Average Focus Time Card -->
    <div class="col-md-3">
      <div class="card mb-3">
        <div class="card-body text-center">
          <h5 class="card-title">Average Focus Time</h5>
          <p class="card-text display-6">
            {{ average_focus_time // 60 }}h {{ average_focus_time % 60 }}m
          </p>
        </div>
      </div>
    </div>

    <!-- Graph -->
    <div class="col-md-9">
      <h1 class="h2 mt-3">Dashboard</h1>
      <canvas class="my-4 w-100" id="focusChart" width="900" height="380"></canvas>
    </div>
  </div>

  <!-- Session Data Table -->
  <div class="row">
    <div class="col-md-12">
      <h2>Session Data</h2>
      <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Duration (min)</th>
            </tr>
          </thead>
          <tbody>
            {% for session in sessions | reverse %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ session.start_time }}</td>
              <td>{{ session.end_time }}</td>
              <td>{{ session.duration / 60 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}
